.login-container {
  display: flex;
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.login-box {
  background-color: #ffffff;
  height: 400px;
  width: 500px;
}
.header {
  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 50px;
}
.label {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}
